---
---

$header-heading-color: #fff !default;
$header-bg-color: #0072CE !default;
$header-bg-color-secondary: #B9D9EB !default;

$section-headings-color: #000000 !default;

@import "{{ site.theme }}";

