---
---

$header-heading-color: #fff !default;
$header-bg-color: #639af3 !default;
$header-bg-color-secondary: #63b2f3 !default;

$section-headings-color: #000000 !default;

@import "{{ site.theme }}";

